@import "../../../../Style.scss";

.FiltresBar {
  height: 230px;
  width: 100%;
  background-color: #325068;
  display: flex;
  flex-direction: column;

  .FB {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;

    .DivFB {
      display: flex;
      flex-direction: column;
    }

    h1 {
      color: whitesmoke;
      text-decoration: underline;
    }
    p {
      font-size: 20px;
      display: flex;
      color: whitesmoke;
      margin-top: 5px;
      cursor: pointer;
    }

    .selected {
      color: $yellow;
    }

    .defaultColor {
      color: white;
    }

    h1 {
      color: whitesmoke;
      text-decoration: underline;
    }
    p {
      font-size: 20px;
      display: flex;
      color: whitesmoke;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .NatureFB {
    gap: 20px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
  }
}

.buttonFB {
  width: 100%;
  button {
    height: 30px;
    width: 150px;
    background-color: $yellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;
    padding-top: 5px;
    border: black 2px solid;
    border-radius: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .TitleListFB {
    font-size: 18px;
  }
  li {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
}
