@import "../../Style.scss";

.Details {
  height: 90vh;
  background-color: $backColor;
  padding-top: 30px;

  .DetailCardID {
    background-color: $NBColor;
    height: 70vh;
    width: 1000px;
    display: flex;
    // flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: black solid 0px;
    box-shadow: 8px 7px 0px 0px rgba(0, 0, 0, 0.5);
    padding: 4px;
    position: relative;

    .leftContainerD {
      width: 50%;
      // padding-top: 10px;
      img {
        width: 450px;
        height: 470px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.5s ease;
        img:hover {
          transform: scale(1.5);
        }
      }
    }

    .rightContainerD {
      width: 60%;
      padding-top: 10px;
      padding-left: 50px;
      display: flex;
      justify-content: left;
      flex-direction: column;
      gap: 20px;
      font-weight: bold;
      figcaption {
        color: #19083b;
        font-weight: bold;
        font-size: 30px;
        margin-top: 5px;
      }
      .PricesD {
        height: auto;
        color: #070a09;
      }
      .totalD {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: 10px;
        color: #070a09;
      }
      .quantityD {
        display: flex;

        gap: 10px;
      }
      p {
        font-size: 20px;
      }
    }

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;

      .leftContainerD,
      .rightContainerD {
        width: 100%;
        text-align: center;
        padding: 20px;
      }

      .leftContainerD img {
        width: 80%;
        height: auto;
        margin: 0 auto;
      }

      .quantityD {
        justify-content: center;
      }

      .panierD {
        width: 80%;
      }
    }
  }

  .buttonsD {
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 40px;
    gap: 40px;
  }
}
