@import "../Style.scss";

.imageProd {
  width: 230px;
  height: 240px;
}

figcaption {
  color: #19083f;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.PriceH {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  color: #070a09;
  font-weight: bold;
}
