@import "../Style.scss";

.FiltresBar {
  height: 200px;
  width: 100%;
  background-color: #325068;
  display: flex;
  flex-direction: column;

  .FB {
    // margin-top: auto;
    // margin-bottom: auto;
    margin-left: 5%;
    .ulFB {
      display: flex;
      align-items: baseline;
      gap: 10px;
      color: #ffffff;
      margin-top: 35px;
      flex-wrap: wrap;
      .TitleListFB {
        font-size: 25px;
      }
      li {
        font-size: 18px;
      }
      @media screen and (max-width: 700px) {
        li {
          font-size: 10px;
        }
      }
    }
  }
  .NatureFB {
    gap: 20px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
  }
}

.buttonFB {
  width: 100%;
  button {
    height: 30px;
    width: 150px;
    background-color: $yellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
    font-weight: bold;
    padding-top: 5px;
    border: black 2px solid;
    border-radius: 20px;
  }
}

@media screen and (max-width: 700px) {
  .TitleListFB {
    font-size: 18px;
  }
  li {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
}
