@import "../Style.scss";

.NavBar {
  background-color: #ffffff;

  ul {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns with equal space on sides */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    list-style-type: none;
    background-color: #ffffff;
    transition: all 0.3s;

    .leftItems,
    .rightItems {
      display: flex;
      align-items: center;
      gap: 5%;
    }

    .logoNB {
      max-width: 300px;
      justify-self: center; 
      margin-top: 5px;
      @media (max-width: 1000px) {
        width: 200px;
      }
    }
    .DeconnexionNB{
      font-size: 20px;
      font-weight: bold;
      color: #401f83;
    }
    .cadiNB,
    .loginNB {
      width:50px
    }
    .basketCount {
      position: absolute;
      margin-top: 20px;
      margin-right: 70px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 7px;
      font-size: 14px;
      font-weight: bold;
    }

    .adminButton {
      height: 35px;
      width: 50px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black;
      background-color: #401f83;
      color: whitesmoke;
    }

    .persoButton {
      height: 35px;
      width: 250px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black;
      border-radius: 50px;
    }
  }
  
  .burger {
    width: 25px;
    height: 20px;
    position: relative;
    display: none;
    cursor: pointer;
    // right: 10px;
    top: 10px;
    margin-left: 5px;

    @media (max-width: 900px) {
      display: block;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #333;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2){
        top:8px
      }
      &:nth-child(3) {
        top: 16px;
      }
      
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 8px;
          left: 50%;
          width: 0%;
          visibility: hidden;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  ul {
    @media (max-width: 900px) {
      display: none;
    }
  }
  ul.open {
    display: flex; 
    
    flex-wrap: wrap;
    width: 90%; 
    justify-content: space-around; /* Space out items evenly */
    align-items: center;
  }
}
