.NavBar {
  background-color: #ffffff;

  ul {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #ffffff;

    .leftItems,
    .rightItems {
      display: flex;
      align-items: center;
      gap: 5%; // changed to percentage for responsiveness
    }

    .searchItem {
      margin-right: 2%; // changed to percentage for responsiveness
    }

    .logoNB {
      max-width: 70%;
      min-width: 50px;
    }

    .searchContainer {
      display: flex;
      align-items: center;
    }

    input {
      height: 2em; // using em for responsiveness
      width: 50%; // changed to percentage for responsiveness
    }
  }
}

.loupeNB,
.loginNB,
.cadiNB {
  position: relative;
  max-width: 50px;
  min-width: 30px;
}

.basketCount {
  position: absolute;
  margin-top: 20px;
  margin-right: 8px;
  // top: 10;
  // right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .NavBar ul .leftItems,
  .NavBar ul .rightItems {
    gap: 2%;
  }

  .NavBar ul input {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .NavBar ul .leftItems,
  .NavBar ul .rightItems {
    gap: 1%;
  }

  .NavBar ul input {
    width: 30%;
  }
}
