.NavBar {
  background-color: #ffffff;
  ul {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #ffffff;
    gap: 100px;

    li {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.loupeNB {
  width: 50px;
}

.logoNB {
  width: 90%;
}

.loginNB {
  width: 50px;
}

.cadiNB {
  width: 50px;
}
