.NavBar {
  background-color: #ffffff;
  
  ul {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #ffffff;

    .leftItems, .rightItems {
      display: flex;
      align-items: center;
      gap: 180px;
    }

    .searchItem {
      margin-right: 30px;
    }

    .searchContainer {
      display: flex;
      align-items: center;
    }

    input {
      height: 25px;
      width:200px;
    }
  }
}

.loupeNB, .loginNB, .cadiNB {
  width: 50px;
}

.logoNB {
  width: 90%;
}