@import "../../../Style.scss";

.Presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15%;
    @media (max-width: 750px) {
      margin-left:0%;
    }
    
}
.titleInfo {
  font-size: 1.3rem;
  margin-top: auto;
  margin-left: 0%;
  text-decoration: underline;
}