@import "../../../Style.scss";

.Listes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .colonne {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
    font-style: italic;
  }
  li {
    font-size: 18px;
  }
}
