@import "../../Style.scss";

.order {
  height: 100%;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $backColor;
  padding-bottom: 20px;
  .Merci {
    // height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
      padding-top: 5px;
      width: 6%;
    }
  }
  .countainerOrder {
    display: flex;
    .LeftColumnO {
      width: 50%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .countainerOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
