@import "../../Style.scss";
.Home {
  height: 200vh;
  width: 100%;
}
.containerHome {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
  @media (max-width: 1500px) {
    height: 55vh;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-bottom: 100px;
  }
}

.hydreHome {
  width: 30vw;
  // @media (max-width: 1200px) {
  //   width: 250px;
  //   margin-bottom: 20px;
  //   @media (max-width: 500px) {
  //     width: 100px;
  //     margin-bottom: 20px;
  //     @media (max-width: 350px) {
  //       display: none;
  //     }
  //   }
  // }
}

.ContainerText {
  height: auto;
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  font-size: 1.2rem;
  padding-right: 50px;
  @media (max-width: 700px) {
    width: 70%;
    // margin-bottom: 10px;
  }
  .bienvenu {
    p {
      font-size: 1.2rem;
      font-weight: bold;
      img {
        height: 35px;
        width: 35px;
      }
    }
    .textHome {
      display: flex;
      font-size: 1rem;
      justify-content: center;
      background-color: whitesmoke;
    }
  }
  a {
    text-decoration: none;
  }
}
