@import "../../Style.scss";
.Home {
  height: 150vh;
  width: 100%;
}
.imageHome {
  // height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
}

.imageCatastrophe {
  width: 30%;
}

.ContainerText {
  height: 100px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding-top: 100px;
  padding-right: 50px;
  .bienvenu {
    // display: flex;
    p {
      font-size: 30px;
      font-weight: bold;
      img {
        height: 35px;
        width: 35px;
      }
    }
    .textHome {
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: lighter;
      background-color: whitesmoke;
    }
  }
  a {
    text-decoration: none; /* This removes the underline */
  }
  button {
    height: 35px;
    width: 250px;
    background-color: $yellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    border: black 2px solid;
    border-radius: 20px;
    cursor: pointer;
  }

  .buttonPurple {
    height: 35px;
    width: 250px;
    background-color: #401f83;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    color: whitesmoke;
    padding-top: 5px;
    border: black 2px solid;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}

.FiltresBarH {
  height: 500px;
}
