@import "../Style.scss";

.ContainerOrder {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $backColor;
  padding-bottom: 20px;
  @media (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
  .columnsOrders {
    display: flex;
    margin-top: 20px;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }
}
.titleOrder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.RightColumnB {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 100px;
  font-size: 1rem;
  @media (max-width: 1000px) {
    margin-left: 1px;
    width: 250px;
  }
}
