@import "../Style.scss";

.countainerMembre {
  height: 90vh;
  width: 100%;
  background-color: $backColor;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.Membre {
  height: 50vh;
  width: 350px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 6px 5px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;

  h2 {
    text-align: center;
  }

  div {
    margin-bottom: 20px;
  }

  p {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
}
