@import "../Style.scss";

.Membre {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 6px 5px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;

  h2 {
    text-align: center;
  }

  div {
    margin-bottom: 20px;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
}
