@import "../Style.scss";

.nonMembre {
  height: 100vh;
  background-color:$backColor ;
  display:flex;
  justify-content: center;
  padding-top:5vh ;
  @media (max-width: 1100px) {
    height: 160vh;
  }
}
.login-container {
  height: 65vh;
  width: 40vw;
  padding-top: 5vh;
  padding-bottom: 20vh;
  padding-left: 5vw;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 6px 5px 0px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  @media (max-width: 1100px) {
    height: 130vh;
    width:45vh;
  }
  .liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 1100px) {
      gap:1px;
    }
  }
  h2 {
    text-align: center;
  }

 

  p {
    
    text-decoration: underline;
    cursor: pointer;
  }
}
