@import "../../Style.scss";

.Administrator {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  padding-left: 20px;
  .updateData {
    display: flex;
    gap: 50px;
    padding-top: 20px;
  }

  .GraphA {
    padding-top: 50px;
    h1 {
      font-size: 25px;
    }
    .BarChart {
      height: auto;
      width: 50%;
    }
  }
}
