@import "../../Style.scss";

.UserContainer {
  height: 150vh;
  width: 100%;
  background-color: whitesmoke;
  padding-left: 20px;
  h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .sectionButtons {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    button {
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      border: 3px black solid;
    }
  }
  input {
    height: 30px;
  }
  .updateData {
    display: flex;
    gap: 50px;
   
  }
  .GraphA {
    width: 70%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 25px;
    }
    // .BarChart {
    //   height: auto;
    //   width: 50%;
    // }
  }
}

.container {
  width: 100%;
  .BarAdminUsers{
    width: 80%;
    display:flex;
    align-items: flex-start;
  }
  .searchBar {
    width: 68%;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .listeUsers {
    padding-top: 20px;
  }
  .listUsers th,
  .listUsers td {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    text-align: left;
  }
}
