// VARIABLES

// Colors
$NBColor: #ffffff;
$backColor: #e7eff3;
$yellow: #f4b346;
$greenD: #2a8795;
$greendark: #325068;

* {
  // background-color: $backColor;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  display: flex;
  list-style-type: none;
}
