// VARIABLES

// Colors
$NBColor: #ffffff;
$backColor: #e7eff3;
$yellow: #f4b346;
$greenD: #2a8795;
$greendark: #325068;
$purple: #0e0424;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  // background-color: $backColor;
}

ul {
  display: flex;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

h1 {
  color: $purple;
}

Link {
  text-decoration: none;
}

.buttonYellow {
  height: 30px;
  width: 250px;
  background-color: $yellow;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  border: black 2px solid;
  border-radius: 20px;
  cursor: pointer;
}

.buttonPurple {
  height: 30px;
  width: 200px;
  background-color: #401f83;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  color: whitesmoke;
  padding-top: 5px;
  border: black 2px solid;
  border-radius: 20px;
  margin-bottom: 20px;
}

figcaption {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  height:30px;
  width: 250px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 15px;
  padding-left: 5px;
}