// VARIABLES

// Colors
$NBColor: #ffffff;
$backColor: #e7eff3;
$yellow: #f4b346;
$greenD: #2a8795;
$greendark: #325068;
$purple: #0e0424;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  // background-color: $backColor;
}

ul {
  display: flex;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: $purple;
}
