@import "../../Style.scss";


.UserContainer{
  height: auto;
  width:100%;
  .CustomersData {
    display:flex;
    gap:30px;
  }
}
.ListeFactures {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 30px;
}
.containerUser {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .containerDatas {
    width: 80%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
